
body, h1, ul, li, img {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif; 
}

/* Header style */
header {
    background-color: #3770a5; /* Dark gray background for the header */
    padding: 10px 0; /* Add padding to the header */
    width: 100%; /* Make header full width */
    margin-bottom: 75px;

}

/* Main heading style */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white; 
    margin-top: 20px;
}

/* List style */
.artist-list {
    list-style: none;
    width: 80%; 
    max-width: 8000px; 
    font-family: Arial, Helvetica, sans-serif;
}

/* Artist box style */
.artist-list li {
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    margin: 0 auto; 
    margin-bottom: 20px;
    background-color: #3498db; 
    color: #fff; 
    border-radius: 5px;
    overflow: hidden;
}

/* Artist image style */
.artist-list li img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

/* Link style */
.artist-info a {
    color: #fff; 
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Link hover effect */
.artist-info a:hover {
    background-color: #2980b9;
    color: #003cff; 
}

/* Home button style */
.home img {
    height: 60px; 
    width: 60px; 
}

/* how the boxes are listed*/
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.center-row {
    justify-content: center;
}
/*songs in each box*/
.song {
    background-color: #3498db; 
    color: #fff; 
    border-radius: 5px;
    padding: 20px;
    width: 550px; 
    margin-right: 20px;
    margin-bottom: 20px;
}
/* videos*/
.song iframe {
    width: 100%; 
}
/* Link style */
.song h2 a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Add transition for color change */
}

/* Link hover effect */
.song h2 a:hover {
    color: #3770a5; /* Change color on hover */
}
